@model IEnumerable<BlogWebsite.Models.Likes>

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<div id="Like">
    <p>Likes:@Model.Count() <i class="fa fa-thumbs-up"></i></p>
</div>
