@model BlogWebsite.Models.Tag

<div>

    <div>

        @if (Model.ID > 0)
            {

           
        
            @Html.EditorFor(m => m.Name, new { htmlAttributes = new { @class = "form-control" } })
           
        }
        else
        {
            @Html.EditorFor(m => m.Name, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })

        }

    </div>
</div>
